<?xml version="1.0"?>

<launch>

  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="wand_pose" default="/Robot_1/pose" />
  <arg name="wand_frame_id" default="/Robot_2/base_link" />
  <arg name="cf1_uri" default="radio://0/10/1M" />
  <arg name="cf2_uri" default="radio://0/80/2M" />
  <arg name="cf1_pose" default="/Robot_1/pose" />
  <arg name="cf2_pose" default="/Robot_3/pose" />
  <arg name="cf1_prefix" default="crazyflie1" />
  <arg name="cf2_prefix" default="crazyflie2" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

   <node name="joy" pkg="joy" type="joy_node" output="screen" >
      <param name="dev" value="$(arg joy_dev)" />
   </node>

   <node name="coordinator" pkg="sl_crazyflie_pathfollowing" type="Coordinator.py" output="screen">
    	<rosparam param="cf_name_spaces">["/crazyflie1", "/crazyflie2"]</rosparam>
    	<rosparam param="waypoint_files">["cf1.yaml", "cf2.yaml"]</rosparam>
    </node>
    <node name="tele_follower" pkg="sl_crazyflie_pathfollowing" type="path_teleop.py" output="screen">
        <param name="joy_topic" value="/joy" />
    </node>
    <node name="joy_distributor" pkg="sl_crazyflie_controller" type="joy_distributor.py" output="screen" >
      <rosparam param="cf_name_spaces">["/crazyflie1", "/crazyflie2"]</rosparam>
    </node>
    <group ns="$(arg cf1_prefix)">
     <node name="simple_collvoid" pkg="sl_crazyflie_controller" type="simple_collvoid.py" output="screen" >
      <param name="cf_pose_topic" value="/Robot_1/pose" />
      <param name="min_xy_dist" value="0.12" />
      <param name="max_xy_dist" value="0.25" />
      <param name="max_xy_avoid_vel" value="0.5" />
      <param name="max_xy_goal_vel" value="0.5" />
      <rosparam param="obstacle_pose_topics">["/Robot_3/pose"]</rosparam>
   </node>
    <include file="$(find sl_crazyflie_demo)/launch/cf.launch">
        <arg name="wand_pose" value="$(arg wand_pose)" />
        <arg name="wand_frame_id" value="$(arg wand_frame_id)" />
        <arg name="cf_uri" value="$(arg cf1_uri)" />
        <arg name="cf_pose" value="$(arg cf1_pose)"/>
        <arg name="prefix" value="$(arg cf1_prefix)" />
    </include>
    </group>
    <group ns="$(arg cf2_prefix)">
     <node name="simple_collvoid" pkg="sl_crazyflie_controller" type="simple_collvoid.py" output="screen" >
      <param name="cf_pose_topic" value="/Robot_3/pose" />
      <param name="min_xy_dist" value="0.12" />
      <param name="max_xy_dist" value="0.25" />
      <param name="max_xy_avoid_vel" value="0.5" />
      <param name="max_xy_goal_vel" value="0.5" />
      <rosparam param="obstacle_pose_topics">["/Robot_1/pose"]</rosparam>
   </node>
    <include file="$(find sl_crazyflie_demo)/launch/cf.launch">
        <arg name="wand_pose" value="/Robot_2/pose" />
        <arg name="wand_frame_id" value="$(arg wand_frame_id)" />
        <arg name="cf_uri" value="$(arg cf2_uri)" />
        <arg name="cf_pose" value="$(arg cf2_pose)" />
        <arg name="prefix" value="$(arg cf2_prefix)" />
    </include>
    </group>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sl_crazyflie_demo)/rviz/cf_mocap.rviz" />

  <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/crazyflie1/temperature/temperature"/> -->

  <!--node pkg="rqt_plot" type="rqt_plot" name="rqt_plot2" args="/crazyflie1/battery"/-->




</launch>
