<?xml version="1.0"?>

<launch>
  <arg name="uri" default="radio://0/60/250K" />
  <arg name="joy_dev" default="/dev/input/js0" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <node name="joy" pkg="joy" type="joy_node" output="screen" >
      <param name="dev" value="$(arg joy_dev)" />
  </node>


  <include file="$(find sl_crazyflie_demo)/launch/cf2.launch"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sl_crazyflie_demo)/rviz/cf_mocap.rviz" />

  <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/crazyflie1/temperature/temperature"/> -->

  <!--node pkg="rqt_plot" type="rqt_plot" name="rqt_plot2" args="/crazyflie1/battery"/-->

</launch>
